@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --very-dark-blue: #090b1a;
    --dark-desaturated-blue: #1b1938;
    --soft-violet: #aa5cdb;
    /*NEUTRAL*/
    --white: #ffffff;
    --slightly-transparent-white: #ffffffbf;
    --slightly-transparent-white2: #ffffff99;
}

html{
    --primary-font-color: 'Inter';
    --secondary-font: 'Lexend Deca'
    --font-size: 15px;
}

body{
    background-color:var(--very-dark-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card{
    display: flex;
    width: 60%;
    min-height: 350px;
    border-radius: 20px;
    background-color: var(--dark-desaturated-blue);
}

.content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 50px;
}

.content-text h1{
    font-family: Inter;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--white);
}

h1 span{
    color: var(--soft-violet);
}

.content-text > p{
    margin-top: 15px;
    font-family: 'Inter';
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: var(--slightly-transparent-white2) ;
}

.stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 40px;
}

.stats-item .cuantity{
    font-family: 'Inter';
    font-weight: 700;
    color: var(--slightly-transparent-white);
}

.stats-item .description{
    padding-top: 5px;
    font-family: Inter;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    color: var(--slightly-transparent-white2);
}

figure{
    width: 50%;
    height: auto;
    min-height: 300px;
    border-radius: 0 20px 20px 0;
    background-image: url(./images/image-header-desktop.jpg);
    background-position: center;
    background-size: cover;
    filter: sepia(1) hue-rotate(240deg) saturate(300%) opacity(0.5);
    -webkit-filter: sepia(1) hue-rotate(240deg) saturate(300%) opacity(0.5);
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
}

@media only screen and (max-width: 375px){
    body{
        height: auto;
    }
    .container-card{
        width: 85%;
        margin: 40px 0;
        flex-direction: column-reverse;
    }
    .content-text{
        width: 100%;
        padding: 15px;
    }
    figure{
        width: 100%;
    }

    h1, .content-text > p{
        text-align: center;
    }

    .stats{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
}